body {
    display: grid;
    grid-template-areas: ". search ."
        ". gallery .";
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    max-width: 890px;
    margin: auto;
}

.search {
    grid-area: search;
    text-align: center;
    min-width: 100%;

}

input {
    border-color: #ddd;
    border-style: solid;
    width: 44%;
    height: 60px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.1em;
    align-items: center;
}

.gallery {
    display: grid;
    grid-area: gallery;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    padding-left: 30px;
}